*{
    margin: 0;
    padding: 0;
    list-style: none;

    box-sizing: border-box;
}
body{
    text-transform: capitalize;
}
.footer-container{
    max-width: 1200px;
    margin: 0 auto;
}
.footer{
    background-color: #004e97;
    padding: 80px 0;
}
.footerfilas{
    display: flex;
    flex-wrap: wrap;
}
.footerlink{
    width: 25%;
    padding: 0 15px;
}
.footerlink h4{
    color: white;
    font-size: 20px;
    margin-bottom: 25px;
    font-weight: 500;
    border-bottom: 2px solid white;
    padding: 10px;
    display: inline-block;
}
.footerlink ul li a{
    font-size: 14px;
    text-decoration: none;
    color: white;
    display: block;
    margin: 15px;
    transition: all .3 ease;
}
.footerlink ul li a:hover{
    color: #fbbb04;
    transform: scale(1.05); /* Aumenta el tamaño al pasar el ratón */
}
.redsocial a{
    display: inline-block;
    min-height: 40px;
    width: 40px;
    background-color: rgb(255, 255, 255);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
}
.redsocial a:hover{
    background-color: #fbbb04;
}
i{
    color:#004e97;
}
.footer-logo{
    width: 200px;
}
@media(max-width: 900px){
    .footerfilas{
        text-align: center;
    }
    .footerlink{
        width: 100%;
        margin-bottom: 30px;
    }
    .img-footer{
        margin: auto;
    }
}
