/* ----- imagen principal ------*/
.main-img{
    display: flex;
    flex-direction: column;
    background-image: url(.././images/CULTO3.jpg);
    color: white;
    text-align: center;
    padding: 2%;
    justify-content: center;
    height: 300px;
    background-size: cover;
    background-position: center;
    font-size: 10px;
    letter-spacing: 1px;
    gap: 10px;
    font-weight: 600;
    text-shadow: 1px 2px 4px black;
    padding: 20px 50px;


}

/* Marquee*/
.lema{
    background-color: #075198;
    color: white;
    padding: 10px;
    font-size: 11px;
    display: flex;
    align-items: center;
}
.next{
    margin-top:3%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2%;
    flex-direction: column;
}
.next p{
    font-size: 12px;
    width: 25vh;
    text-align: justify;
    line-height: 140%;
    margin-bottom: 5%;
}
.front-church{
    margin: 5%;
    width: 200px;
    border-radius: 50%;
}

/* ----------- versisulo -------- */
.main-versiculo{
    justify-content: center;
    text-align: center;
    margin-top: 2%;
    font-style: italic;
    line-height: 150%;
    background-color: #c9d8e7;
    font-size: 10px;
    width: 100vw;
    padding: 5%;
    font-weight: bold;
    padding: 20px 60px;
}

p span{
    color:#075198;
}

/* imagenes */

/* ---------- Targetas ----------*/
.title-card{
    font-size: 22px;
}
.container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: .8em 3em;
}
.card{
    width: 325px;
    border-radius: 8px;
    overflow: hidden;
    margin: 10px;
    box-shadow: 0 1px 10px black;
    transition: all 400ms ease;
}

.card:hover{
    transform: translateY(-2%);
}

.card img{
    width: 100%;
    height: 50%;
}
.contenido{
    padding: 16px;
}
.contenido h3{
    margin-bottom: 10px;
    font-size: 18px;
    margin-top: 8px;
}
.contenido p{
    font-size: 12px;
    line-height: 1.3;
}

@media(min-width:600px){
    .main-img{
        font-size: 15px;
    }
    .lema{
        font-size: 12px;
    }
    .next{
        width: 250px;
    }
    .next p{
        width: 60vh;
        font-size: 14px;
    }
    .main-versiculo{
        font-size: 15px;
    }
}
@media(min-width:1440px){
    .main-img{
        font-size: 18px;
    }
    .lema{
        font-size: 14px;
        padding: .8em;
    }
    .next{
        width: 100vh;
        flex-direction: row;
    }
    .front-church{
        width: 30%;
    }
    .next p{
        width: 60vh;
        font-size: 18px;
    }
    .main-versiculo{
        font-size: 16px;
        padding: 2% 20%;
    }
    .title-card{
        font-size: 30px;
    }
    .contenido h3{
        font-size: 25px;
    }
    .contenido p{
        font-size: 15px;
    }
}

@media(min-width:2560px){
    .main-img{
        font-size: 18px;
    }
    .lema{
        height: .1px;
        font-size: 20px;
    }
    .front-church{
        width: 500px;

    }
    .next p{
        width: 100vh;
        font-size: 16px;
    }
    .main-versiculo{
        font-size: 16px;
    }
}