h2, p{
    padding: 3%;
}
p, li{
    font-size: 1.2rem;
}
.div-title{
    background-color: #c9d7e6;
    height: 10%;
}
.title{
    padding: 3%;
    color: black ;
    text-align: center;
    font-size: 3rem;
}
.img-services{
    width: 30%;
    border-radius: 10em;
}
.cart{
    display: flex;
    gap: 1%;
    margin: 2%;
    justify-content: center;
    align-items: center;
    padding: 2%;
}
.cart div{
    width: 40%;
}



